<div class="container takasa">
  <strong><%= notice %></strong>
  <div class="row">




    <div class="col-xs-9">
      <!-- 画像背景 -->
  		<div class="bg_top">
        <!-- 白背景/サイト説明文 -->
  			<div class="bg_top2">
  			  <p class="font-text">
  			  	ようこそ、ながのCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
  			</div>
  		</div>
   <div class="recommend-title">
        <h3>新着商品</h3>
      </div>
      <div class="recommend-container">
        <% @items.each do |item| %>
          <div class="new_item">
            <%= link_to public_item_path(item.id) do %>
  <% if item.image.attached? %>
    <%= image_tag item.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>  <% end %><br>
            <p><%= item.name %></p>
            <p>¥<%= item.price %></p>
        <% end %>
          </div>

      </div>
      <div class="ollitems"><%= link_to "すべての商品を見る>>", public_items_path %></div>
    </div>
  </div>
</div>