
  	<div class="col-xs-9">
  	  <div class="row" style="margin-top: 50px;">
  	  	<div style="float: left; margin: 15px 50px;">
              <% if @item.image.attached? %>
                <%= image_tag @item.image, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
        </div>
  	  	<div style="width:400px; height:300px; float:left;">
  	  	  <h3 style="color: white;"><%= @item.name %></h3><br>
  	  	  <p><%= @item.introduction %></p>
  	  	  <p class="price">¥<%= @item.with_tax_price.to_s(:delimited) %><span style="font-size:12px;">（税込）</span></p>
  	  	</div>
  	  </div>

      <div class="col-xs-5">
      <strong class="error"><%= notice %></strong>
        <%= form_with model: @cart_item, url: public_cart_items_path(@cart_item) do |f| %>
        <%= f.hidden_field :item_id  , :value => @item.id%>
        <%= f.select :amount, *[1..10], { include_blank: '選択してください' } %> <!-- f.selectでも可。placeholderで空欄時に個数選択を表示。選択数の最低値を設定するためにminを設定。 -->
        <%= f.submit "カートに入れる" ,class: 'btn btn-success' %>
        <% end %>
      </div>
  	</div>